@import "styles.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* Include color for browsers that don't support gradients. Must match outer-most
    color of radial-gradient, for top/bottom edges of phones. */
  background-color: var(--blue-2);
  background-image: radial-gradient(
    circle,
    var(--glaucous),
    var(--green-2),
    var(--blue-2),
    white
  );
}

.row {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.row img {
  width: 100%;
}

.textbox-title {
  font-size: 1.5em;
  line-height: 1;
  word-wrap: break-word;
}

.textbox1 {
  background-color: var(--white-smoke);
  border-radius: 10px;
  z-index: 1000;
}

.textbox2 {
  background-color: var(--white-smoke);
  border-radius: 10px;
  z-index: 1000;
}

.textbox3 {
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}

/* I tried to do this a medium (768) but bootstrap doesn't increase
   the jpg size enough to make it look good until large (992) */
@media only screen and (min-width: 992px) {
  .textbox-title {
    font-size: 3em;
    word-wrap: break-word;
  }

  .textbox1 {
    transform: translate(-40%, 35%);
  }

  .textbox2 {
    transform: translate(20%, 30%);
  }

  .textbox3 {
    transform: translate(-20%, 30%);
  }
}

.copyright {
  color: white;
}
