@import "styles.css";

body {
  background: linear-gradient(to bottom, var(--melon-2), var(--melon-1));
}

/* At xs and sm screen size, there is too much conflict with Ryan's eyes in
the photo, so we just use plain background for those sizes. */
@media (min-width: 768px) {
  body {
    background-color: var(--melon-2);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url("../images/red-door-2.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
  }
}

@media (min-width: 576px) {
  .contact-row1 {
    height: 3vh;
  }
}

@media (min-width: 768px) {
  .contact-row1 {
    height: 10vh;
  }
}

.contact-main {
  flex-wrap: wrap;
  color: white;
  align-items: start;
}

.title {
  font-size: 3.5rem;
}

.text {
  font-weight: bold;
}

.send {
  text-align: end;
}

.send > .btn {
  color: black;
  background: var(--platinum);
  margin: 3px 0;
  border-radius: 10px;
}

.copyright {
  color: white;
}
