@import "styles.css";

body {
  /* Include color for browsers that don't support gradients */
  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/ryan-2024-2-contact-small.jpg");
  background-size: cover;
  background-position: top;
}

@media (min-width: 768px) {
  body {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2)
      ),
      url("../images/ryan-2024-2-contact.jpg");
    background-size: cover;
  }
}

.contact-main {
  flex-wrap: wrap;
  color: white;
  align-items: start;
}

.title {
  font-size: 2.5rem;
}

.text {
  font-weight: bold;
}

.send {
  text-align: end;
}

.send > .btn {
  color: black;
  background: var(--platinum);
  margin: 3px 0;
  border-radius: 10px;
}

.copyright {
  color: white;
}
