@import "styles.css";

body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.85)
    ),
    url("../images/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parent {
  display: flex;
  flex-direction: column;
}

.parent > * {
  margin: auto;
}

.parent img {
  border-radius: 50%;
  min-width: 280px;
  max-width: 280px;
}

.violin {
  font-size: 1.5rem;
}

.bigname {
  font-size: 3rem;
  color: var(--glaucous);
}

/* For cell phones the title text needs to be much smaller. */
@media (max-width: 575px) {
  .violin {
    font-size: 1rem;
  }
  .bigname {
    font-size: 1.5rem;
  }
}

.bio {
  color: black;
  /* font-weight: bold; */
}
