@import "styles.css";

body {
  /* Include color for browsers that don't support gradients */
  background-color: var(--honeydew);
  background-image: radial-gradient(
    circle,
    var(--honeydew),
    var(--green-2),
    var(--blue-1)
  );
}

.parent {
  display: flex;
  flex-direction: column;
}

.parent > * {
  margin: auto;
}

.parent img {
  border-radius: 50%;
  min-width: 280px;
  max-width: 280px;
}

.violin {
  font-size: 1.5rem;
}

.bigname {
  font-size: 3rem;
  color: var(--glaucous);
}

/* For cell phones the title text needs to be much smaller. */
@media (max-width: 575px) {
  .violin {
    font-size: 1rem;
  }
  .bigname {
    font-size: 2rem;
  }
}

.bio {
  color: black;
  /* font-weight: bold; */
}
