@import "styles.css";

body {
  background-color: var(--light-blue);
}

.parent {
  display: flex;
  flex-direction: column;
}

.parent > * {
  margin: auto;
}

.parent img {
  border-radius: 50%;
  min-width: 280px;
  max-width: 280px;
}

.violin {
  font-size: 1rem;
}

.bigname {
  font-size: 3rem;
  color: var(--glaucous);
}
