@import "styles.css";

body {
  background: linear-gradient(to top, var(--coffee-1), var(--coffee-2));
  background-repeat: repeat;
  height: 100vh;
}

.card {
  /* without this cards with less text will be shorter */
  height: 100%;
}

.card img {
  /* necessary because img is inside anchor */
  max-width: 100%;
}

.card-body {
  text-align: center;
}

.card-text {
  font-size: 0.9rem;
}
