* {
  box-sizing: border-box;
  --steel-blue: #347fc4;
  --glaucous: hsl(215, 45%, 58%);
  --platinum: #dae3e5;
  --light-blue: #c5dcdd;
  --blue-1: #2c95c9;
  --blue-2: #bbdef0;
  --melon-1: #c86f57;
  --melon-2: #f2a79a;
  --green-1: #66b79b;
  --green-2: #d5ebe3;
  --olivine: #a8c686;
  --coffee-1: #af875a;
  --coffee-2: #d7c3ac;
  --honeydew: #f0f8ea;
  --white-smoke: #f1f2ee;
  --silver: #bfb7b6;
  --battleship-gray: #848c8e;
  /*
  --yellow-1: #ccaa00;
  --yellow-2: #ffee99;
  --gray-1: #778392;
  --gray-2: #d2d6db;
  --purple-1: #6168a8;
  --purple-2: #cacde2;
  --purple-3: #a27ba3;
  --salmon-pink: #ff9fb2;
  --mimi-pink: #fbdce2;
  --keppel: #60ab9a;
  --vivid-sky-blue: #0acdff;
  --outer-space: #435058;
  --mindaro: #dcf763;
  */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar-brand {
  font-family: "Fira Code", monospace;
  font-size: 1.6rem;
  font-weight: 300;
}

.copyright {
  font-size: 0.8rem;
}

/* .olmer {
  outline: 1px dashed red;
  outline-offset: -1px;
}

.olme {
  outline: 1px dashed yellowgreen;
  outline-offset: -1px;
} */
